DicS.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elementos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cancion" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Canciones</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="id_album"/>
              <xs:element type="xs:byte" name="id_extension"/>
              <xs:element type="xs:byte" name="id_genero"/>
              <xs:element type="xs:string" name="duracion"/>
              <xs:element type="xs:string" name="mb"/>
              <xs:element type="xs:string" name="localizacion"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_cancion" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="genero" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Generos</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_genero" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="extension" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Extensiones</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_extension" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="playlist" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Playlists</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_playlist" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="playlistcancion" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla PlaylitCanciones</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id_cancion" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_playlist" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="album" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Albumes</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titulo"/>
              <xs:element type="xs:byte" name="id_artista"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_album" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="artista" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Artistas</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_artista" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="musico" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Musicos</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="apellido"/>
              <xs:element type="xs:string" name="nacimiento"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_musico" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="compositor" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Compositores</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id_musico" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_cancion" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="artistamusico" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla ArtistaMusico</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id_musico" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:byte" name="rol" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="id_musico" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="rol" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_artista" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="rol" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Tabla Roles</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id_rol" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="lang"/>
    </xs:complexType>
  </xs:element>
</xs:schema>